/*====== common style ======*/

/* link gg font */

/* link gg font */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    min-width: 320px;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: #000;
}

a {
    text-decoration: none;
    color: unset;
    transition: 0.2s;
}

a:hover {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
    margin: 0px;
}

img {
    display: block;
    width: 100%;
    transition: .2s;
}

p,
span,
ul,
li,
a,
div,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
    outline: none;
    border: none;
}

label:focus,
button:focus {
    outline: none;
}


.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0px 20px;
}

:root{
    --color-xam: #6F3E16;
    --background: #6F3E16;
}

.--text-h2{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #5B2D0C;
}

.--text-pơ{
     font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: #5B2D0C;
}

.header-medicine{
    width: 100%;
    margin: 0 auto;
    background: #6F3E16;   
}

.medicine-logo img{
    display: inline-block;
    width: 50px;
    height: 50px;
}

.medicine-list{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-top: 16px;
    padding-bottom: 16px;
}
.header-list-menu{
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    padding-left: 25px;
}

.header-list__ul{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center; 
    column-gap: 66px;
}

.header-list__ul li a{
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #D9B271;
    position: relative;
    transition: 0.25s  ease-in;
    white-space: nowrap;
    position: relative;
}



.header-list__ul li:hover > a{
    color: #ffffff;
}


.header-list__ul li a svg{
    position: absolute  ;
    right: -21px;
    bottom: 10px; 
}

.header-list__ul li a svg path{
    transition: 0.25s ease-in;
}

.header-list__ul li:hover a svg path{
    stroke: #FFFFFF;
    background: var(--background);
}

.header-list__ul li.white  a{
    color: #FFFFFF;
}
.header-list__ul li{
    position: relative;

}
 
  
.list__bottom{
    position: absolute;
    left: 0px;
    top: 100%;
    height: auto;
    width: 100%;
    z-index: 1000;
    background: var(--background);
    transition: 0.3s;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
}
.list__bottom li a{
    display: block;
    width: 100%;
    white-space: nowrap;
    padding: 10px;
    text-align: center;
    margin: unset;
    position: relative;
    z-index: 1; 
}


.list__bottom li a:hover{
    color: #5B2D0C;
}
.header-list__ul li:hover .list__bottom{
     opacity: 1;
     width: 200px;
     text-align: left;
     visibility: visible;
     transform: translateY(0);
    
}
.list__bottom li::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background-color: #D9B271;
    transition: 0.5s;
    color: #000;
    z-index: -1;
}

.list__bottom li:hover::before{
    width: 100%;
}

.header__search svg{
    cursor: pointer;

}

/* end header */


footer {
    width: 100%;
    margin: 0 auto;
    padding-top: 72px;
}

.footer--backgourd {
    background: #F9F9F9;
}

.end {
    display: flex;
    align-items: flex-start;
    padding-top: 42px;
    padding-bottom: 93px;
    
}

.introduce {
    margin-right: 20px;
    width: 42%;
}

.introduce>img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.introduce ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 10px;
    width: 88%;
}

.social-network {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-top: 27px;
}

.link {
    text-align: left;
    margin-top: 41px;
    margin-right: 63px;
}

.link-h2 {
    font-size: 20px;
    text-align: left;
    margin-bottom: 35px;

}

.link ul {
    padding-left: 25px;
}

.link ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 20px;
    list-style-type: disc;
}

.calendar {
    flex: 1;
    margin-top: 41px;
}

.calendar ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #000000;

}

.calendar a img {
    width: 62.5%;
    margin-top: 30px;
}
/* end footer */

/* reponsive */

@media only screen and (max-width: 1240px){
    .header-list__ul{
        column-gap: 40px;
    }
}

@media only screen and (max-width: 1024px){
    .header-medicine{
        position: relative;
    }

    .sup-menu{
        position: absolute;
        top: 50%;
        left: 5px;
        display: block;
        width: 50px;
       transform: translatey(-50%);
       border-radius: 5px;
       padding: 2px 5px;
       background: #5B2D0C;
   

    }
    .sup-menu span{
        display: block;
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background: #D9B271;
        transition: 0.2s;
        margin: 5px 0;

    }
    
    .sup-menu.active span:nth-child(1){
        transform-origin: top left;
        transform: rotate(45deg) translate(1px, -9px);
    }
    .sup-menu.active span:nth-child(3){
        transform-origin: top left;
        transform: rotate(-45deg) translate(-1px, 9px);
    }
    .sup-menu.active span:nth-child(2){
        transform: translateX(-10px);
        opacity: 0;
    }

    .header-list__ul{
        display: block;
        text-align: left;

    }

    .header-list__ul >li{
        padding: 20px 0px;
        width: 40%;

    }
    
    .header-list-menu{
        position: absolute;
        width: 80%;
        display: block;
        min-height: 100vh;
        top: 100%;
        left: 0;
        padding: 20px;
        background-color: #5B2D0C;
        transform: translateX(-100%);
        transition: 0.3s;
        z-index: 1000000;
    }   
    .header-list-menu.show{
        transform: translateX(0);
    }

    .header__search{
        width: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .medicine-logo{
        width: 58%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    }
}