/*======== style for all page ========*/

.team__slider {
    max-width: 1364px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 20px;
}

.section__logo {
    width: 100%;
    height: 100%;

}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: none;
}

.logo__bottom {
    z-index: 10000;
    display: flex;
    align-items: center;
    column-gap: 162px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: -75px;
    position: relative;
}

.logo__bottom img {
    max-width: 150px;
}

/* end section__logo */

.section__we {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 73px;
    padding-bottom: 119px;
}

.we-not {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
    justify-content: space-between;

}

.we__img {
    display: flex;
    width: 47%;

}

.we__text {
    max-width: 49.5%;
    text-align: left;
    font-size: 20px;
    display: block;
}

.we__text p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    color: #5B2D0C;
}

.text__facebook {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 15px;
    margin-top: 60px;
}

.monitor a {
    display: inline-block;
    padding: 9.5px 51.5px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #5B2D0C;
    background: #ECCE92;
    border-radius: 4px;
    border: 1px solid #5B2D0C;
    position: relative;
    white-space: nowrap;
}

.monitor a svg {
    position: absolute;
    right: 35px;
    top: 7px;
}

.monitor a:hover {
    color: #ECCE92;
    background: #5B2D0C;
    border: 1px solid #ECCE92;
}

.monitor a:hover svg path {
    fill: #ECCE92;
}

.see-more a {
    display: inline-block;
    padding-left: 86px;
    padding-right: 86px;
    color: #ECCE92;
    background: #5B2D0C;
    border: 1px solid #ECCE92;
}

.see-more a:hover {
    background: #ECCE92;
    color: #5B2D0C;
    border: 1px solid #5B2D0C;
}

/* end section-we */

.section-team {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    flex-direction: column;
    padding-bottom: 60px;
    align-items: flex-start;
}


.team-home {
    width: 100%;
    display: flex;
}

.team-buttom {
    display: flex;
    margin-top: 30px;
    width: 100%;

}

.team-slider {
    padding-bottom: 80px;
}

.buttom-left-img {
    margin-right: 66px;
}

.buttom-right-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    text-align: justify;
    color: #5B2D0C;
}

.right-text-list {
    padding-left: 30px;
}

.right-text-list li {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    color: #5B2D0C;
    list-style-type: disc;
}

.text__facebook.team {
    margin-top: 30px;
}


.swiper-button-lock {
    display: block;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    border-radius: unset;
    background: #C18C46;
    border: 1px solid #C18C46;
    margin-right: 15px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-right: 11px;
}





.dortor {
    margin-bottom: 25px;
}

.list-information {
    padding-left: 20px;
    margin-top: 25px;
}

.list-information li {
    list-style-type: disc;
}

.text__facebook.tame {
    margin-top: 30px;
    justify-content: flex-start;
}

.swiper-backface-hidden .swiper-slide.home-slider__team {
    padding-bottom: 80px;
}

.swiper-button-next,
.swiper-button-prev {
    top: 40%;
}


.five-list-item {
    display: inline-block;
}

.five-list-item a img {
    max-width: 200px;
}

.file--individual p {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #9B9B9B;
    margin-bottom: 20px;

}

.link__file a {
    display: inline-block;
    padding: 7.5px 43px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #ECCE92;
    background: #5B2D0C;
    border-radius: 4px;
    border: 1px solid #ECCE92;
}

.link__file a:hover {
    background: #ECCE92;
    color: #5B2D0C;
    border: 1px solid #5B2D0C;
}

.section-basis {
    width: 100%;
    height: auto;
    padding-top: 44px;
    padding-bottom: 103px;
    text-align: center;
    background: #F9F9F9;
}

.basis>p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: #5B2D0C;
    text-align: left;
}

.basis-p1 {
    margin-top: 20px;
    margin-bottom: 25px;
}

.basis-list-item {
    max-width: none;
    background: #FBF3DC;
    border: 1px solid #CCCCCC;

}

.basis-list-item p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #5B2D0C;
    padding: 17.5px 40px;

}

.basis-sliderr {
    margin-top: 18px;
}

.basis-product a {
    padding-left: 46.5px;
    padding-right: 46.5px;
    margin-top: 40px;
}

.section-product {
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 62px;
    text-align: center;
}

.home-slider__product {
    margin-top: 40px;
}

.product-list-item {
    max-width: 300px;
    background: #ffffff;
    border: 1px solid #CCCCCC;
}

.product-name {
    padding: 11px 23px 36px 24px;
    text-align: left;
}

.product-name p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #BBBBBB;
    margin-bottom: 10px;
}

.product-name a {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    color: #333333;
}

/* end section team */
.section--file {
    padding-bottom: 60px;
    width: 100%;
    margin: 0 auto;
}

.five-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.file--individual {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* end section-product */

.section__share {
    width: 100%;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 82px;
    background: #5B2D0C;
}

.share--h2 {
    color: #ffffff;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.home-slider__share {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.share-patient {
    width: 200px;
    height: 200px;
    background: #8A5624;
    border-radius: 50%;
    border: 5px solid #FBF3DC;
    margin-bottom: 30px;
}

.share-information {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 58px;
}

.share-information>h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    color: #FFFFFF;
    margin-bottom: 19px;
}

.share-information>p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    color: #FBF3DC;
}

.symptom {
    width: 100%;
    margin: 0 auto;
}

.symptom-list {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.symptom-list>li {
    width: 120px;
    height: 120px;
    background: #8A5624;
    border-radius: 50%;
    border: 5px solid #FBF3DC;
}

.slider-button.one {
    top: 28%;
}

/* end section-share */

.section__video {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 115px;
    margin: 0 auto;
}

.video-patient {
    display: block;
    margin-top: 30px;
}

.video-patient iframe {
    display: block;
    width: 720px;
    height: 405px;
}


.home-slider__video {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-video {
    margin-bottom: 83px;
}

.slider-button.two {
    top: 50%;
}

.product-name.new {
    padding: 10px 23px 12px 24px;
}

.section-register {
    width: 100%;
    margin: 0 auto;
    background: #5B2D0C;
    padding-top: 57px;
    padding-bottom: 56px;
}

.register {
    margin-left: 200px;
    padding-left: 20px;
    margin-right: 140px;
    padding-right: 20px;
}

.mason-register {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.register__img {
    max-width: 200px;
    margin-right: 60px;
}

.register__list {
    width: 41.6%;
    margin-top: 27px;
    margin-right: 39.36px;

}

.new-slider {
    margin-top: 30px;
}

.register__list>h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    color: #FBF3DC;
    margin-bottom: 40px;
}

.register__list h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    color: #ECCE92;
    margin-bottom: 5px;
}

.list-register {
    padding-left: 30px;

}

.list-register li {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #ECCE92;
    list-style-type: disc;
    line-height: 25px;
}

.register__input-button {
    margin-top: 27px;
    flex: 1;
    text-align: center;
}

.register__input-button form {
    display: flex;
    flex-direction: column;
}

.register__input-button form input {
    outline: none;
    border: none;
    font-size: 16px;
    padding: 16px 22px;
    border-radius: 5px;
    margin-bottom: 20px;
}

::placeholder {
    color: #C18C46;
}

.send {
    display: flex;
    align-items: center;
    justify-content: center;
}

.send button {
    display: inline-block;
    padding: 10px 46px;
    outline: none;
    border: none;
    background: #F8E6B8;
    color: #5B2D0C;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
    margin-bottom: 17px;
    transition: 0.3s;
    border: 1px solid transparent;

}

.send button:hover {
    background: #5B2D0C;
    color: #F8E6B8;
    border: 1px solid #F8E6B8;

}

.register__input-button a {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

/* end section register */

/* reponsive */

@media only screen and (max-width: 1240px) {
    .register {
        margin-left: 0;
        margin-right: 0;

    }

}

@media only screen and (max-width: 1024px) {
    .text__facebook {
        margin-top: 40px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
    }

    .section__we {
        padding-bottom: 50px;
    }

    .register {
        margin: 0;
        flex-wrap: wrap;
    }

    .mason-register {
        flex-wrap: wrap;
    }

    .register__list>h3 {
        text-align: left;
    }

    .end {
        flex-wrap: wrap;
    }

    .slider-button.one {
        top: 15%;
    }

    .calendar {
        flex: auto;
    }
}

@media only screen and (max-width: 768px) {
    .logo__bottom {
        column-gap: 30px;
        margin-top: -45px;
    }

    .logo__bottom img {
        max-width: 90px;
    }

    .section__we {
        padding-top: 20px;
    }

    .we-not {
        flex-direction: column;
        row-gap: 20px;
    }

    .we__img {
        width: 100%;
    }

    .we__text {
        max-width: 100%;
    }

    .team-buttom {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .end {
        flex-direction: column;
    }

    .introduce {
        width: 100%;
    }

    .symptom-list {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .calendar a img {
        width: 100%;
    }

    .section-team {
        padding-top: 0px;
    }

    .buttom-right-text {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buttom-left-img {
        margin: 0;
    }

    .end {
        padding-bottom: 30px;
    }

    .section__video {
        padding-bottom: 50px;
    }

    .section-basis {
        padding-bottom: 50px;
    }

    .slider-button.list {
        top: 25%;

    }

    .list-register li {
        font-size: 16px;
    }

    .register__list h4 {
        font-size: 18px;
    }

    .register__list>h3 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 600px) {
    .logo__bottom {
        column-gap: 17px;
        margin-top: -38px;
    }

    .logo__bottom img {
        max-width: 70px;
    }

    .section__we {
        padding-top: 40px;
    }

    .we__text p {
        font-size: 16px;
    }

    .--text-h2 {
        font-size: 20px;
    }

    .share-information {
        width: 100%;
    }

    .register__list {
        width: 100%;
    }

    footer {
        padding-top: 0;
    }

    .product-name a {
        font-size: 16px;
        line-height: 0;
    }

    .product-name {
        padding: 10px;
    }

    .product-name.new {
        padding: 10px;
    }

}

@media only screen and (max-width: 480px) {


    .logo__bottom {
        margin-top: -26px;
        column-gap: 15px;
    }

    .logo__bottom img {
        max-width: 50px;
    }

    .section__we {
        padding-top: 10px;
    }

    .we-not {
        margin-top: 10px;
    }

    .text__facebook {
        margin-top: 20px;
    }

    .share-information>p {
        font-size: 16px;
    }

    .section__share {
        padding-bottom: 30px;
    }

    .section__video {
        padding-top: 20px;
    }

    .slider-video {
        margin-bottom: 30px;
    }

    .product-list-item {
        max-width: unset;
    }

    .product-list-item {
        margin-right: unset;
    }

    .basis-list-item p {
        white-space: nowrap;
        font-size: 16px;

    }

}

@media only screen and (max-width: 450px) {
    .header__search {
        width: 45%;
    }

    .slider-button.one {
        top: 11%;
    }

    .slider-button.list {
        top: 22%;
    }
}

@media only screen and (max-width: 400px) {
    .basis-list-item {
        max-width: 340px;
    }

}